/* This style overrides everything */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: light-dark( #191970, #f0f8ff);
    background-color:light-dark(#b0e0e6, #663399);
}

:root {
    color-scheme: light dark;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between; /* Will push left and right components to far edges and items in middle evenly spread between the two*/
    align-items: center;
    padding: 30px 10px;
}

img {
    height: 100px;
    width: 100px;
}