<header class="bg-blue-200 dark:bg-sky-900 text-emerald-800 dark:text-emerald-200">

    <nav>
        <ul>
            <li>
                <a routerLink="home">
                    <img src="assets/logo.png" alt="Logo of Website">
                </a>
            </li>
        </ul>
    </nav>

<nav>
    <ul>
        <li><a routerLink="user-details">User</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a routerLink="loan">Loans</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a routerLink="login">Log In</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a routerLink="signup">Sign Up</a></li>
    </ul>
</nav>
<nav>
    <ul>
    @if (supabaseService.currentUser()) {
        <p><span (click)="signOut()"> Sign Out </span></p>
    }
    </ul>
</nav>




<!-- <button onclick="document.documentElement.classList.toggle('dark')">Dark Mode</button> -->


</header>

