.header {
    height: 10vh;
}

.footer {
    /* height: 10vh; */
    bottom: 0;
    position: sticky;
}

.main {
    /* flex: 2; */
    height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;
    background-image: url(./../../../../assets/finance_background.png);
}