.userDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: rgb(133, 52, 142);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
}