
<div class="bg-blue-200 dark:bg-sky-900 text-emerald-800 dark:text-emerald-200">
    <div class="bottom-align">
        <footer>
            <p><a href="mailto:vishalmkumar3@gmail.com?subject=Feedback&body=Hi Vishal,">Email: vishalmkumar3&#64;gmail.com</a></p>
            @if (supabaseService.currentUser()) {
                <p><span (click)="signOut()"> Sign Out </span></p>
            }
            
            <nav>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/vishal-kumar-6b5694269/">
                            <img src="assets/linkedin.png" alt="Linked In Link">
                        </a>
                    </li>
                </ul>
            </nav>

        </footer>
    </div>
</div>
