footer {
    box-sizing: border-box;
    position: absolute;
    /* left: 0;
    right: 0; */
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background: lightblue;
    color:teal;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1em;
}

img {
    height: 100px;
    width: 100px;
}

.bottom-align {
    display: flex;
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
